.triangle-down{
	width:0;
	height:0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top:100px solid blue;
}
.triangle-down2{
	width:0;
	height:0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top:100px solid blue;
	transform:skew(.312rad);
}

.square{
	width:100px;
	height:100px;
	background:blue;
	transition-duration: 1s;
	transition-property: background;
	transition-timing-function: cubic-bezier(1,.11,0,2.25);
	transition-delay: 2s;
}
.square:hover{
	background: #FF686B;
	transform:rotate(45deg);

}

