
.square {
	width: 200px;
	height: 200px;
	background: red;
	animation: 3s infinite Color;
}

@keyframes Color{
	0% {background:orange;}
	7%{background: red;}
	50% {background: purple;}
	93%{background: blue;}
	100% {background: green;}
}